body{
    background-color: #141415;
}

nav {
    height: 70px;
    width: 100%;
    background-color:transparent;
    color:white;
    opacity: 0.7;
    margin: 1px;
    border-radius: 10px;
    text-align: right;
    position: relative;
    /* text-shadow: 3px 3px black; */
    font-weight: bold;
    }

li{
    display: inline-block;
    padding: 5px;
    text-align: right;
    position: relative;
    top:50px;
    font-size: larger;
    
}

.logo{
    position: relative;
    float: left;
    

  }

  a{
    text-decoration: none;
    color:chartreuse;
}





a:hover {
    color: green;
    text-decoration: none;
}

.icons{
    flex-direction: column;
    justify-content: space-between;
}  


.text-container{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    height:  450px;
    width: 600px;
    background-color: transparent;
    
   

}

.big_text h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    font-weight: bold;
}

.big_text{
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 150px;
   font-weight: bold;
    
}
  .wave{
      margin-top: 300px;
  }

  .label_required_field::before {
    content: '*';
    font-size: 24px;
    color: red;
}

#contact  form {
    border: 1px solid var(--main_color);
    border-radius: 10px;
    padding: 18px;
    color: white
}

.btn{
    color:chartreuse;
}

.row{
    justify-content: flex-end;
    z-index: 3;
    background-color: coral;
}

#contact{
    
}
